.inputs
     display: flex

.input-texto
    height: 45px
    width: 80vh
    border-radius: 25px
    background-color: #B8B8B8
    outline-color: none
    margin-bottom: 4em
    border: none
    padding: 5px 10px

    &:focus 
         outline-color: #505050
    
#mensagem::placeholder
     color: #4D4D4D
     font-family: Roboto-medium
     font-size: 15px

.input-imagem
   
