.comp-input-mensagem
     background-color: #eef0f1
     display: flex
     flex-flow: row nowrap
     align-items: center
     justify-content: space-between
     padding: 0 20px
     width: 90%
     height: 50px
     min-height: 40px
     gap: 10px
     border-radius: 30px

     > input
          width: 100%
          resize: none
          height: 45px
          font-family: Roboto-regular
          font-size: 16px
          background: none
          outline: none
          border: none
          color: #575757

          &::placeholder
               user-select: none

     > img
          width: 30px
          height: 30px
          cursor: pointer
