.comunidade
    display: flex
    flex-flow: column nowrap

    > main
        display: flex
        flex-flow: row nowrap
        width: 100%
        margin-top: 55px
        height: calc( 100vh - 55px )

        > aside
            width: 350px
            background: #eef1f5

            > div:nth-child(1)
                font-size: 18px
                text-align: center
                width: 100%
                padding: 10px 5px
                user-select: none

            > .comunidade-listagem-lateral
                height: calc( 100% - 42px )
                overflow-y: auto

        > section
            width: 100%
            display: flex
            flex-flow: column nowrap
            justify-content: space-between
            align-items: center
            height: calc( 97vh - 55px )
            gap: 15px

            > .comunidade-mensagens
                // background: url(../../../../public/assets/images/umbrella.png) no-repeat
                // background-size: clamp(150px, calc(20vh + 15vw), 400px)
                // background-position: center
                width: 100%
                height: 100%
