@keyframes home-banner-flutuante
    0%
        transform: translatey(0px)
    50%
        transform: translatey(-13px)
    100%
        transform: translatey(0px)

@keyframes fadein
    0%
        opacity: 0
        transform: translatey(-15px)
    100%
        opacity: 1
        transform: translatey(0px)

.home
    background-color: #fff !important
    > main
        width: 100vw
        height: calc( 100vh - 55px )
        display: flex
        flex-direction: column
        align-items: center
        padding: 5em 0

        > section
            margin-bottom: clamp(3em, 20vw + 1em, 8em )

        > .home-banner-inicial
            background-color: #54cc92
            display: flex
            flex-flow: row wrap
            align-items: center
            justify-content: space-around
            width: 85vw
            min-height: 340px
            border-radius: 60px
            color: #fff
            box-shadow: 0 1px 10px #0000003b
            user-select: none
            overflow: hidden

            > img
                max-width: 450px
                width: 70%
                min-width: 250px
                animation: home-banner-flutuante 9s ease-in-out infinite alternate

            > div
                max-width: 300px
                width: 85%
                text-align: center

        > .home-top-comunidades
            > .home-top-comunidades-titulos
                text-align: center
                width: 90vw

            > .home-top-comunidades-cards
                margin-top: 2.3em
                display: flex
                flex-flow: row wrap
                width: 90vw
                align-items: center
                justify-content: center
                gap: 60px
                animation: fadein 2s
                outline: 1px red solid

        > .home-cadastre
            background: #54cc92
            width: 100vw
            min-height: max-content
            display: flex
            flex-flow: row wrap
            justify-content: space-between
            align-items: flex-end
            user-select: none

            > .home-cadastre-textos
                display: flex
                flex-flow: column nowrap
                min-width: 250px
                width: 50vw
                max-width: 450px
                height: 100%
                align-items: center
                justify-content: center
                text-align: center

            > .home-cadastre-botao
                background: url('../../../public/assets/images/bichos.png') no-repeat
                background-size: 90%
                background-position: 50% 100%
                width: 100%
                max-width: 350px
                height: 300px
                display: flex
                flex-direction: row
                align-items: center
                justify-content: center

        > .home-conecte
            width: 90vw
            display: flex
            flex-flow: column wrap

            > div
                display: flex
                flex-flow: row wrap
                align-items: center
                justify-content: space-around
                margin-bottom: clamp(3em, 30vw + 1em, 8em )

                > img
                    min-width: 250px
                    width: 35vw
                    max-width: 450px

                > div
                    min-width: 250px
                    width: 60vw
                    max-width: 500px
                    text-align: center

                    > ul
                        margin-left: 10vw
                        margin-top: 2em

                        > li
                            font-family: Roboto-medium
                            font-size: clamp(14px, 4vw, 20px)
                            text-align: left
