header
    width: 100vw
    height: 55px
    position: initial
    top: 0
    z-index: 1
    background-color: #fff
    box-shadow: 0 0 5px 2px #0000001a
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    padding: 0 3em

    > nav
        width: max-content
        display: flex
        align-items: center
        justify-content: flex-end
        
        *
            margin-left: 10px
            font-family: Roboto-regular
            font-size: 17px
