.comp-header
    width: 100vw
    height: 55px
    position: initial
    top: 0
    z-index: 1
    background-color: #15C083
    box-shadow: 0 0 8px 2px #0000002f
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    padding: 0 2em
    user-select: none

    > img
        width: 35px

    > nav
        width: max-content
        display: flex
        align-items: center
        justify-content: flex-end
        
        *
            margin-left: 10px
            