.admin-home
   display: flex
   flex-direction: column
   justify-content: center
   background-color: #3C3C3D
   height: 100vh
   width: 20%
   min-width: 150px

> .admin
   display: flex
   justify-content: center

.admin-funcoes
   display: flex
   flex-direction: column

   > .linhas-menu
      width: 70%
      height: 2px
      background-color: #fff
      align-self: center

.linhas-menu:hover
   width: 100%
   transition: 0.3s

.admin-textos
   color: #fff
   padding: 25px 60px
   font-family: "roboto-medium"
   text-align: center
   font-size: 17px
   width: 100%

.admin-textos:hover
   background-color: #606060
   cursor: pointer
   transition: 0.3s
