.comp-menu-admin

   > main
      display: flex
      flex-direction: column
      justify-content: center
      background-color: #3C3C3D
      height: 100%
      width: 20%
      position: fixed

      > .menu-admin
         display: flex
         justify-content: center

         > .admin-funcoes
            display: flex
            flex-direction: column
            width: 100%

            > .linhas-menu
               width: 15vw
               height: 1px
               background-color: #fff
               align-self: center

            > .linhas-menu:hover
               width: 100%
               transition: 0.3s

            > .admin-textos 
               color: #fff
               padding: 17px 
               width: 100%
               font-family: "roboto-medium"
               text-align: center
               font-size: 13px

            > .admin-textos:hover
               background-color: #2CA75D
               cursor: pointer
               transition: 0.3s
