@font-face
    font-family: Roboto-regular
    src: url(../public/assets/fonts/Roboto/Roboto-Regular.ttf)
@font-face
    font-family: Roboto-medium
    src: url(../public/assets/fonts/Roboto/Roboto-Medium.ttf)
@font-face
    font-family: Roboto-bold
    src: url(../public/assets/fonts/Roboto/Roboto-Bold.ttf)
@font-face
    font-family: OpenSans-regular
    src: url(../public/assets/fonts/OpenSans/OpenSans-Regular.ttf)
@font-face
    font-family: OpenSans-medium
    src: url(../public/assets/fonts/OpenSans/OpenSans-Medium.ttf)
@font-face
    font-family: OpenSans-semibold
    src: url(../public/assets/fonts/OpenSans/OpenSans-SemiBold.ttf)
@font-face
    font-family: OpenSans-bold
    src: url(../public/assets/fonts/OpenSans/OpenSans-Bold.ttf)
@font-face
    font-family: OpenSans-extrabold
    src: url(../public/assets/fonts/OpenSans/OpenSans-ExtraBold.ttf)
@font-face
    font-family: Inter-bold
    src: url(../public/assets/fonts/Inter/Inter-Bold.ttf)
@font-face
    font-family: Inter-medium
    src: url(../public/assets/fonts/Inter/Inter-Medium.ttf)
*
    box-sizing: border-box
    color: inherit
    margin: 0
    padding: 0
    z-index: 0
    text-decoration: none

    &::selection
        background: #53f1955b

html
    scroll-behavior: smooth

.page
    background-color: #f5f8fa
    width: 100%
    min-height: 100vh
    max-height: 100%
    overflow-x: hidden !important
    font-family: Roboto-regular

.hidden
    position: absolute
    visibility: hidden
    display: none
