.comp-menu
    background: #EEEFF0
    display: flex
    flex-flow: row nowrap
    height: 100vh
    width: 30vw
    max-width: 350px
    min-width: 200px
    position: fixed
    z-index: 2
    right: -100vw
    padding: 60px 0 0 20px
    transition: .4s ease-in
    overflow: hidden
    // border-left: 1px solid #D7D7D7
    box-shadow: -2px 0px 10px #0000001e
    justify-content: space-between

    > .comp-menu-exit
        position: absolute
        top: 10px
        left: 10px
        width: 30px
        height: 30px
        background: url(../../../public/assets/icons/x.svg) no-repeat center
        background-size: 20px
        border: none
        transition: .1s ease

        &:hover
            transform: scale(1.05)
        
        &:active
                transition: .1s linear
                transform: scale(.9)

    > .comp-menu-chats
        background-color: red
        width: 100%
        
    > .comp-menu-config
        background-color: blue
        width: 80px
        display: flex
        flex-flow: column nowrap
        margin-bottom: 20px
        align-items: flex-end

.comp-menu-ativo
    right: 0
    transition: .3s ease-out
