.comp-menu
    background: #3baf69
    display: flex
    flex-flow: row nowrap
    height: 100vh
    width: 30vw
    max-width: 390px
    min-width: 250px
    position: fixed
    z-index: 2
    right: -50vw
    transition: .4s ease-in
    overflow: hidden
    border-left: 1px solid #e0e0e0
    box-shadow: -2px 0px 10px 4px #00000017
    justify-content: space-between

    > .comp-menu-exit
        position: absolute
        top: 20px
        left: 20px
        width: 30px
        height: 30px
        background: url(../../../public/assets/icons/x.svg) no-repeat center
        background-size: 20px
        border: none
        transition: .1s ease
        z-index: 4

        &:hover
            transform: scale(1.05)
        
        &:active
                transition: .1s linear
                transform: scale(.9)

    > .comp-menu-chats
        padding-top: 10em
        width: 100%
        background-color: #EEEFF0
        padding-left: 1.5em
        position: relative

        > .comp-menu-search
            position: absolute
            top: 90px
            display: inline-flex
            align-items: center
            width: 90%
            background-color: #f4f5f5
            overflow: hidden
            padding: 5px 7px
            border-radius: 10px
            box-shadow: 0 0 8px 1px #7575751e
            z-index: 2
            left: 50%
            transform: translateX(-50%)

            > img
                width: 25px
                cursor: pointer
            
            > input
                border: none
                font-size: 15px
                color: #222222
                font-family: Roboto-regular
                outline: none
                height: 27px
                width: 100%
                background-color: #f4f5f5
                padding: 0 15px

    > .comp-menu-config
        width: 80px
        display: flex
        flex-flow: column nowrap
        align-items: center
        justify-content: flex-end
        padding-bottom: 2em
        gap: 20px
        user-select: none

        img
            width: 30px
            height: 30px

            &:hover
                transform: scale(1.05)    

        > hr
            width: 70%
            cursor: default
            border: 1px solid #fff

        > .comp-menu-img-user
            width: 45px
            height: 45px
            overflow: hidden
            border-radius: 100%
            cursor: pointer
            background-color: #fff

        > *
            cursor: pointer

.comp-menu-ativo
    right: 0
    transition: .3s ease-out
