.amizades
    > main
        display: flex
        flex-flow: column nowrap
        width: 90vw
        height: 100%
        margin: auto
        margin-top: 7em

        > section
            margin-bottom: 4em
            