.cards-estastisticas-admin
        display: flex
        flex-direction: column
        align-items: center
        position: absolute
        height: 15em
        width: 60%
        bottom: 20px


.cards-estatisticas
        display: flex
        flex-direction: row
        gap: 10px
          


.cards-01
        display: flex
        flex-direction: row
        gap: 10px
        

.cards-02
        display: flex
        flex-direction: column
        


  

.admin-pizza-grafico
        display: flex
        flex-direction: column
        justify-content: flex-end
        align-items: flex-end
        width: 100%
        height: 30vw

.pizza-grafico
        display: flex
        flex-direction: column
        align-items: center
        background-color: #E9E9E9
        box-shadow: 5px 5px 5px #2626264d
        height: 15em
        width: 25em
        position: absolute
        bottom: 30px
        right: 50px
        

.grafico-pizza
        width: 9em
        margin-top: 2em
        margin-left: 1em

.faixa-etaria-titulo
        margin-top: -3em 
        width: 70% 
        text-align: center
        font-family: 'opensans-extrabold'
        color: #343435
        font-size: 20px


.informacoes-graficos
        display: flex
        flex-direction: row
        margin-left: 3.5em 
        padding-top: 1em

.informacoes
        font-size: 13px 
        margin-right: 2em 
        color: #343435
        font-family: 'opensans-extrabold'    