.community-info
    > main
        display: flex
        flex-flow: column nowrap
        justify-content: space-between
        margin-top: 55px
        width: 100vw
        align-items: center

        > .community-info-card
            background: #fff
            margin-top: 4em
            width: 90vw
            max-width: 900px
            min-width: 200px
            height: fit-content
            min-height: 250px
            display: flex
            flex-flow: row nowrap
            box-shadow: 0px 1px 25px #0000001a
            gap: 30px
            border-radius: 30px
            overflow: hidden

            > img
                width: auto
                max-width: clamp(200px, 40vw, 320px)
                height: auto
                -webkit-user-drag: none
                user-select: none

            > div
                width: 100%
                padding: 1.5em 30px 1.5em 0
                display: flex
                flex-flow: column nowrap
                justify-content: space-between

                > div
                    font-family: Roboto-regular
                    font-size: 16px
                    text-overflow: ellipsis
                    word-wrap: break-word

        > .community-info-others
            width: 95vw
            max-width: 1000px
            min-width: 200px
            margin-top: 8em
            display: flex
            flex-flow: row wrap
            gap: 40px
            justify-content: center
