.cards-estatisticas
   display: flex
   flex-direction: column
   width: 13em
   height: 7em
   box-shadow: 5px 1px 5px #7c7c7c86

   > .icons-estatisticas
      display: flex
      flex-direction: row
      justify-content: space-between

      > .imagem-estatisticas
         width: 18px
         margin: 10px

   .estatisticas-conteudo
      display: flex
      flex-direction: column
      justify-content: center
      height: 7vh
      padding: 17px

      > .estatisticas
         font-family: "OpenSans-regular"
         color: #fff
         font-size: 12px
         padding: 5px

      > .linha-comp
         width: 200%
         background-color: #000
         margin-top: 20em
         

.card_visitas_mensais
   background-image: linear-gradient(to bottom, #2ADC71, #218F4D)

.cards_visitas
   background-image: linear-gradient(to bottom, #2F82FD, #2C47A7)

.cards_comunidades
   background-image: linear-gradient(to bottom, #BA24D2, #5D3CBA)
