.comp-card
    width: 160px
    min-height: 180
    max-height: 250px
    overflow: hidden
    text-align: center
    transition: ease .6s
    cursor: default
    user-select: none

    > img
        border-radius: 25px
        width: 100%

    > div
        margin-top: 1em
        color: #373535
        font-family: Roboto-medium
        font-size: 20px

    &:hover
        transform: scale(1.05)
        transition: ease-in-out .2s
