.comp-card
    display: inline-block
    width: 220px
    height: fit-content
    min-height: 330px
    overflow: hidden
    text-align: center
    transition: ease .6s
    cursor: default
    user-select: none
    border-radius: 20px
    background-color: #FFFFFF
    box-shadow: 0px 1px 25px #0000001a
    transition: .2s ease-out

    > .banner
        border-top-left-radius: 20px
        border-top-right-radius: 20px
        width: 100%
        height: 120px
        -webkit-user-drag: none
        -webkit-user-select: none
        user-select: none

    > .image
        position: relative
        top: -55px
        width: 110px
        height: 110px
        border-radius: 100%
        box-shadow: 0 0 25px #00000021
        -webkit-user-drag: none
        -webkit-user-select: none
        user-select: none

    .info-cont
        display: flex
        flex-direction: column
        justify-content: space-between
        color: #373535
        font-size: clamp(16px, 2vw, 18px)
        position: relative
        top: -35px

        > div
            font-family: Roboto-Medium
            font-size: clamp(13px, 1.7vw, 15px)
            color: #2c2b2b
            max-height: 6.2em
            max-width: 19em
            text-overflow: ellipsis
            overflow-wrap: break-word
            overflow-y: hidden

            > p
                margin: .3em .3em 0 .3em
                font-family: Roboto-Regular
                color: #424242

    .qtd-info
        display: flex
        flex-direction: row-reverse
        margin: 0 1em 2em 0

        > img
            -webkit-user-drag: none
